body {
    background-color: aqua;
}

ul {
    margin-left: 2%;
    margin-right: 3%;
    list-style: none;
    display: flex;
    gap: 20%;
    justify-content: center;
    border-radius: 5px;
    border-color: blue;
    border-style:groove;
    background-color: brown;
}

h1 {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border-color: blue;
    border: 10px;
    background-color: brown;

}

a {
    text-decoration: none;
    text-decoration: bold;
    color:white;
}
