@media (max-width: 600px){

        #ul{
        margin-left: 0px;
        margin-right: 0px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: grid;
        background-color: rgb(0, 0, 0);
        list-style: none;
        }

        #inscriçao{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: grid;


        }

        #titulo_inscriçao_link{
        color: blue;
        text-decoration: none;
        text-align: center;
        }
}


body {
    background-color: black;
}

#titulo_inscriçao_link{
    color: blue;
    text-decoration: none;
}

ul{
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
    border-color: aliceblue;
    border-style: double;
    background-color: aliceblue;
    list-style: none;
    display: grid;
    justify-content: center;
}

li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

input {
    border-style: double;
    border-radius: 7px;
    width: 200%;
    height: 23px;
    text-align: center;
    border-radius: 10px;
}


p {
    color: rgb(0, 0, 0);
    text-align: center;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

#botao_confirmar{
    border-radius: 6px;
    margin-top: 200px;
    display: flex;
    justify-content: right;
    flex-direction: column;
    height: 40px;
    padding: 10px;
    background-color: rgb(6, 143, 6);
    color: white;
    font-size: 16px;
    font-weight: bold;
}
