body {
    background-color: black;
}

ul{
    color: aliceblue;
    list-style: none;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    
}