@media (max-width: 600px){
    ul{
        flex-direction: column;
        align-items: center;
        gap: 10px;

    }
}

body {
    background-color: rgb(0, 0, 0);
}
    
div{
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.185);
    margin-left: -1%;
    margin-top: -1.9%;
}

ul {
    list-style: none;
    gap: 60px;
    align-items: center;
    display: flex;
}

h1 {
    color: rgba(135, 217, 255, 0.932);
    font-size: 60px;
}
    
a {
    font-size: 18px;
    color:white;
    border-color: aliceblue;
    text-decoration: none;
    flex-direction: column;
    display: flex;
    justify-content: center;
    font-weight: bold;
    
}

#adicionar {
    background-color: blueviolet;
    color: rgb(255, 255, 255);
    height: 60px;
    width: 60px;
    border-radius: 20px;
    font-size: 50px;
    align-items: center;
    position: absolute;
    margin-top: 1000px ;
    right: 40px;
}

.menu-expansivo {
    right: 20px;
    margin-top: 20;
    position: fixed;
    right: 20px;
    z-index: 100;
    align-items: flex-end;
    z-index: 999;
    display: flex;
    flex-direction: column;
}

.btn-principal {
    margin-top: 20px;
    background-color: #7159c1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    right: 10px;
    
}

.botoes-escondidos {
    height: 35px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;

    
    /* ESTADO INICIAL: Escondido */
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px); /* Efeito de deslizar */
    transition: all 0.4s ease;   /* Transição suave de 0.4s */
}

/* QUANDO PASSAR O MOUSE NO CONTAINER: Mostra os filhos */
.menu-expansivo:hover .botoes-escondidos {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); /* Volta para o lugar original */
}

/* Estilo dos botões internos */
.botoes-escondidos button {
    padding: 8px;
    cursor: pointer;
    border: 1px solid #7159c1;
    background: white;
    border-radius: 4px;
}

.botoes-escondidos button:hover {
    background-color: #7159c1;
}
