@media (max-width: 600px){
    ul{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

body {
    background-color: rgb(0, 0, 0);
}
    
div{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(44, 42, 42, 0.082);
    margin-left: -1%;
    margin-top: -1.9%;
}

ul {
    top: 19px;
    left: 300px;
    list-style: none;
    display: flex;
    gap: 50px;
    position: fixed;
}

h1 {
    margin-top: 2%;
    margin-left: 2%;
    color: rgba(135, 217, 255, 0.932);

}
    
a {
    font-size: 18px;
    color:white;
    border-color: aliceblue;
    text-decoration: none;
    flex-direction: column;
    display: flex;
    justify-content: center;
    font-weight: bold;
    
}

button {
    position: fixed;
    top: 10px; 
    right: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    color: blue;
    border-bottom: 10px;
    border-bottom-style: none;
    z-index: 1000;
}

